<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game_session.game_id %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @game_session.finished %>
</p>

<%= link_to 'Edit', edit_game_session_path(@game_session) %> |
<%= link_to 'Back', game_sessions_path %>
