
<h1 style="position: relative; float: left; text-align: center; width: 100%; margin: 20px 0;"><%= @game.name%> - High Score</h1>





<table style="width:100%">
  <tr>
    <th>Position</th>
    <th>Username</th>
    <th>Win</th>
    <th>Lose</th>
    <th>W/L</th>
  </tr>

  <% index = 1 %>
  <% @players.each do |player| %>
    <tr>
      <td align="center"><%= index %></td>
      <td align="center"><%= player.email %></td>
      <td align="center"><%= player.win_count %></td>
      <td align="center"><%= player.loss_count %></td>
      <td align="center"><%= player.win_per_loss %></td>
    </tr>
  <% end %>
</table>