<p id="notice"><%= notice %></p>

<h1>Player Histories</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_histories.each do |player_history| %>
      <tr>
        <td><%= player_history.game_id %></td>
        <td><%= player_history.player_id %></td>
        <td><%= player_history.rank %></td>
        <td><%= link_to 'Show', player_history %></td>
        <td><%= link_to 'Edit', edit_player_history_path(player_history) %></td>
        <td><%= link_to 'Destroy', player_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player History', new_player_history_path %>
