<p id="notice"><%= notice %></p>

<h1>Player Awards</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Award</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_awards.each do |player_award| %>
      <tr>
        <td><%= player_award.player_id %></td>
        <td><%= player_award.award_id %></td>
        <td><%= link_to 'Show', player_award %></td>
        <td><%= link_to 'Edit', edit_player_award_path(player_award) %></td>
        <td><%= link_to 'Destroy', player_award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Award', new_player_award_path %>
